In [1]:
import pandas as pd
import numpy as np
from scipy.stats import zscore
from sklearn import linear_model
import matplotlib.pyplot as plt
from DataPreprocessor import DataPreprocessor as DP

%matplotlib inline

### READ IN DATA AND ADD COLUMNS

In [2]:
df = pd.read_csv("census-income.data.csv", sep=",", names=['age', 'workclass', 'fnlwgt', 'education', 'educational-num', 'marital-status','occupation', 'relationship', 'race', 'gender', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])

### PREPROCESS DATA

In [3]:
dp = DP(df)
df = dp.runProjectPreprocessor()

df.head()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,income,Female,Male,Adm-clerical,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,0.301370,0.051694,13,2174,0,0.397959,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
1,0.452055,0.056477,13,0,0,0.122449,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,0.287671,0.165690,9,0,0,0.397959,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,0.493151,0.181433,7,0,0,0.397959,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,0.150685,0.267005,13,0,0,0.397959,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

### RUN FEATURE SELECTION AND SELECT BEST FEATURES

### RUN MODELS